/*Universal Styles*/
html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: white;
    padding-top: 5rem;
}
button, input[type=submit]{
    background-color: white;;
    height: 3rem;
    width: 8rem;
    border: 3px solid rgba(0, 0, 0, 0.808);
    box-shadow: 0 2px 3px rgba(0, 0, 0 / 50%);
}
.border-container {
    width: 100%;
    border-bottom: rgba(99, 96, 96, 0.699) 2px solid;
}
.large-container {
    max-width: 80%;
    margin: 0 auto;
}

/*Header*/
.main-header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-style: normal;
    z-index: 5;
}
.header-name{
    margin-left: 2rem;
}
.nav{
    margin-right: 5rem;;
}
.nav span{
    margin-right: 1rem;
    
}
.nav a{
    color: inherit;
}

/*About Me*/
.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    height: 500px;
    padding-top: inherit;
}
.title-logo img{;
    max-width: 20rem;
    margin-right: 2rem;
}
.title h1{
    font-family: "Playfair Display";
    font-size: 2.5rem;
    margin-left: 2rem;
}
.about-me{
    width: 100%;
    height: 500px;
    padding-top: inherit;
}
.banner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.banner-content{
    max-width: 700px;
    padding: 0 2rem;
}
.banner img{
    max-width: 20rem;
    height: auto;
    align-self: center;
    box-shadow: -2rem -2rem rgb(100, 139, 96);
}
.about-me h1{
    font-family: "Fugaz One", Arial;
    text-align: center;
}

/*Portfolio*/
.portfolio{
    height: 550px;
    margin: 0 auto;
}

.project-container{
    max-width: 100%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: inherit;
}
.project {
    max-width: 1100px;
    margin: 4rem;
    display: flex;
}
.project p{
    max-width: 400px;
}
.project img{
    max-width: 20rem;
}
.a {
    display: inline-block;
}
.b {
    display: none;
}
.c {
    display: none;
}
#left-arrow{
    width: 3rem;
    height: 20rem;
    background-color: rgba(128, 128, 128, 0.034);
    transform: rotate(180deg);
}
#right-arrow{
    width: 3rem;
    height: 20rem;
    background-color: rgba(128, 128, 128, 0.034);
}
.arrow{
    max-width: 3rem;
    margin-top: 8.5rem;
}

/*Contact*/
.contact{
    height: 500px;
    padding-top: inherit;
    max-width: 100%;
    margin: 0 auto;
}
.contact h2{
    text-align: center;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    max-width: inherit;
}
.contact-container img{
    max-width: 35%;
    height: 100%;
    margin: 0 2rem;
    box-shadow: -2rem -2rem rgb(165, 142, 99);
}
.img-overlay {
    background-color: rgba(0, 0, 0, 0.45);  
}
/* Form Styles */
.form-container{
    width: 60%;
}
.row{
    display: table;
    width: 100%;
}
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
#form-btn {
    float: right;
}


/* Footer */
footer{
    background-image: url("./images/footer-handhold.jpg");
    background-position: 50% 55%;
    background-size: cover;
    height: 400px;
    
}
.footer-contents{
    background-color: rgba(0, 0, 0, 0.45);
    margin: 0;
    height: 100%;
    color: white;
}
.footer-contents p{
    position: relative;
    left: 40%;
    top: 30%;
    margin: 0 auto;
}
.social {
    background-color: grey;
    max-width: 3rem;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
}
.instagram {
    position: relative;
    left: 48%;
    top: 25%;
    background-image: url("./images/instagram.png");
    background-color: grey;
    background-size: contain;
}
.linkedin{
    position: relative;
    left: 52%;
    top: 15%; 
    background-image: url("./images/linkedin.png");
    background-color: grey;
    background-size: contain;
}
.social img{
    max-width: inherit;   
    background-color: grey;
}

