/*Universal Styles*/
html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: white;
    padding-top: 5rem;
}
button{
    background-color: rgb(255, 239, 21);
    height: 3rem;
    width: 8rem;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0 / 50%);
}

/*Header*/
.main-header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-style: normal;
    z-index: 5;
}
.header-name{
    margin-left: 2rem;
}
.nav{
    margin-right: 5rem;;
}
.nav span{
    margin-right: 1rem;
    
}
.nav a{
    color: inherit;
}

/*About Me*/
.title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    height: 500px;
    border-bottom: rgba(99, 96, 96, 0.699) 2px solid;
    justify-content: center;
    padding-top: inherit;
}
.title img{;
    max-width: 20rem;
    margin-right: 10rem;
}
.title h1{
    
    font-family: "Playfair Display";
    font-size: 2.5rem;
}
.about-me{
    width: 100%;
    height: 500px;
    padding-top: inherit;
}
.banner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: rgba(99, 96, 96, 0.699) 2px solid;
    
}
.banner-content{
    max-width: 700px;
    padding: 0 2rem;
}
.banner img{
    max-width: 20rem;
    height: auto;
    align-self: center;
    box-shadow: -2rem -2rem rgb(100, 139, 96);
    margin: 0 1rem;
}
.about-me h1{
    font-family: "Fugaz One", Arial;
    text-align: center;
}
.banner-header{

}
.about-me p{
}

/*Portfolio*/
.portfolio{
    height: 500px;
    position: relative;
    padding-top: inherit;
}
.project-viewer{
    position: absolute;
    left: 0;
    width: 1200px;
}
.project-container{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    overflow: hidden;
}
.project{
    float: left;
    display: block;
    max-width: 300px;
    margin: 2rem;
    
}
.project img{
    max-width: 15rem;
}
#left-arrow{
    width: 1rem;
    height: 3rem;
    background-color: grey;
    position: absolute;
    left: 0;
}
#right-arrow{
    width: 1rem;
    height: 3rem;
    background-color: grey;
    position: absolute;
    right: 0;
}

/*Contact*/
.contact{
    background-color: rgba(52, 52, 126, 0.712);
    height: 300px;
}